body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-shadow: 0px 1px #fff;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #333;
  &:visited { }
  &:hover {
    text-decoration: underline;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; }
}

.bottom-bar button {
  width: 50%;
  height: 40px;
}

.exercise-info {
  padding-left: 80px;
}

.weight {
  font-weight: bold;
}

.counter {
  min-width: 50px;
  text-align: right;
  .num-container {
    line-height: 40px;
    margin: 0;
  }
  .num {
    font-size: 30px;
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    background: #aaa;
    text-align: center;
    color: white;
  }
  .timer {
    text-align: right;
    font-family: "Courier";
  }
}

.exercise.started .num {
  background: #4C8BCF;
}
.exercise.finished .num {
  background: green;
}
.exercise.active {
  background: #bbb;
}
.exercise.finished {
  background: rgba(0, 255, 0, .2);
}